body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: slategray;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: min(100vw, 100vh);   /* fit inside screen */
    height: min(100vw, 100vh);
    background: whitesmoke;
}

#container div {
    flex: 0 0 calc(100% / 16);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px solid #ccc;
}