body {
    margin: 0;
    height: 100vh;
    background: slategray;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: 10vh auto 0vh auto;
    width: min(90vw, 90vh);   
    height: min(90vw, 90vh);
    background: black;
}

#container div {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#resize {
    font-size: 1.5em;
    margin: 0vh auto -10vh auto;
    display: block;
}